<ul class=" position-fixed nav justify-content-around flex-column vh-100">
    <div>
        <img src="{{ asset('build/images/Portrait.jpg') }}" class="portrait-nav" alt="logo">
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('experiences_index') }}"> Index des expériences</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('project_index') }}"> Index des projets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('skills_index') }}"> Index des compétences</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{{ path('app_logout') }}"> Deconnexion </a>
        </li>
    {% endif %}


    <div class="nav-item">
        <a class="nav-link active" href="/">À Propos</a>
    </div>
    <div>
        <a class="nav-link active" href='#experiences'>Expériences</a>
    </div>
    <div>
        <a class="nav-link active" href="#competences">Compétences</a>
    </div>
    <div>
        <a class="nav-link active" href="#projets">Projets</a>
    </div>
    <div>
        <a class="nav-link active" href="#me-contacter">Me contacter</a>
    </div>
</ul>
