<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Laëtitia <span class="text-primary"> Gonçalves</span>
            </h1>
            <div class="subheading mb-5"><a href="mailto:laetitia.gcv@gmail.com">laetitia.gcv@gmail.com</a></div>
            <p class="lead mb-5">Après 5 mois en formation à la Wild Code School, en tant que développeuse fullstack,
                j’ai décidé de me spécialiser en PHP avec le framework Symfony.

                Grâce à cette formation, j’ai acquis de solides connaissances en PHP, Twig, HTML, CSS ainsi que des
                notions en Javascript, Python, Wordpress et la librairie React. Nous avons utilisé un design pattern
                interne MVC ainsi qu’un apprentissage en programmation orienté objet.


                De nature enthousiaste, je suis capable d’apporter une réelle plus-value à votre entreprise ou à votre
                projet.

                Alors n’hésitez pas à me contacter. .</p>
            <div class="social-icons">
                <a class="social-icon" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="#"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="#"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" href="#"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </section>
    <hr class="m-0"/>
    <!-- Experience-->
    <section class="resume-section" id="experience">

        <div class="resume-section-content ">
            <h2 class="mb-5 ">Experiences - Diplômes </h2>
            {% for experience in experiences %}
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0"></h3>
                    <div class="subheading mb-3">{{ experience.school }} - {{ experience.degree }} </div>
                    <img class="w-25 p-3" src="{{ experience.logo }}" alt="logo">
                </div>
            </div>
        </div>
    </section>
    {% endfor %}
    <hr class="m-0"/>
    <!-- Skills-->
    <section class="resume-section " id="competences">
        <div class="resume-section-content ">
            <h2 class="mt-5 mb-5 d-flex justify-content-center">Compétences</h2>
            <div class="subheading mb-3">Langages de programmation et outils</div>
            <ul class="list-inline dev-icons">
                {% for skill in skills %}
                <img class="rounded img-thumbnail " style="width: 120px;" src="{{ skill.logo }}" alt="icon">

            </ul>
            {% endfor %}
            <div class="subheading mb-3"></div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Conception d'une application web
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Établissement d'un product backlog
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Création de wireframe - maquette
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Intégration d'une interface utilisateur (HTML & CSS)
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Méthode agile Scrum
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Git/Github
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Télétravail
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Travail en autonomie
                </li>
            </ul>
        </div>
    </section>
    <hr class="m-0"/>
    <!-- Projets-->
    <div>
        <div>
            <h1 class="mt-5 mb-5 d-flex justify-content-center">Portfolio</h1>
        </div>
        <div class="container mt-5 mb-5">
            <div class="row d-flex justify-content-around shadow">
                {% for projects in project %}
                    <div class="card col-4 m-4 p-0 shadow">
                        <img src="{{ projects.picture }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ projects.title }}</h5>
                            <p class="card-text">{{ projects.description }}</p>
                            <a href="{{ projects.link }}" target="_blank" class="btn btn-primary">Voir plus</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <hr class="m-0"/>
    <!-- Awards-->
    <section class="resume-section" id="me-contacter">
        <div class="resume-section-content">
            <h2 class="mb-5">Un projet à me soumettre ?</h2>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    Google Analytics Certified Developer
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    Mobile Web Specialist - Google Certification
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    1
                    <sup>st</sup>
                    Place - University of Colorado Boulder - Emerging Tech Competition 2009
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    1
                    <sup>st</sup>
                    Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    2
                    <sup>nd</sup>
                    Place - University of Colorado Boulder - Emerging Tech Competition 2008
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    1
                    <sup>st</sup>
                    Place - James Buchanan High School - Hackathon 2006
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    3
                    <sup>rd</sup>
                    Place - James Buchanan High School - Hackathon 2005
                </li>
            </ul>
        </div>
    </section>
</div>
